body {
    background-color: azure;
}

section {
    max-width: 100%;
    margin-left: 5%;
}

h2 {
    color: red;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.meetup-item {
    margin: 3%;
    background-color: white;
    box-shadow: 0 0 10px black;
    padding: 1em;
    color: black;
    border-radius: 20px;
    min-width: 300px;
}

.meetup-summary {
    display: flex;
    align-items: flex-start;
}

.meetup-image {
    margin-right: 2rem;
}

.meetup-image img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
    border-radius: 50%;
}

.meetup-details h3 {
    color: inherit;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.meetup-details address {
    font-style: italic;
}

.meetup-actions {
    margin-top: 1.5rem;
    text-align: right;
}

.meetup-actions .btn {
    background-color: #cbfdef;
    border-color: #cb82fb;
    color: #350490;
    padding: 0.75rem 1rem;
    border-radius: 100px;
}

.meetup-actions .btn:hover {
    background-color: #ba82fb;
    border-color: #ba82fb;
}

.hhh {
    font-size: 45px;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}