{% include 'main/header.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form action='{% url "add" %}' method="post">
            {% csrf_token %}
            <input name="coursename" placeholder="Coursename">
            <input name="teacher" placeholder="Teacher">
            <input name="price" placeholder="Price">
            <button type="submit">Upload</button>
            <input type="submit">
        </form>
        {% if msg %}
            <h2>{{ msg }}</h2>
        {% endif %}
    </div>
</body>
</html>