{% block list %}

        <div class="nav1" style="width: 300px; border: 0">
            <div class="profile1">
                <!-- {% load static %} -->
                <!-- <img src="{%static 'img.jpeg' %}" , alt="src"> -->

                <h3 class="user_">{{ request.user.username }}</h3>
            </div>
            <div class="profile2">
                <ul class="profile2_ul">
                    </li>
                    <li class="on1">
                        <a href="" data-purpose="user_manage:edit-profile">
                    Profile
                    </a>
                    </li>
                    <li class="on1">
                        <a href="" data-purpose="user_manage:edit-photo">
                    Image
                    </a>
                    </li>
                    <li class="on1">
                                <li><a href="{% url 'learn'%}">Learning</a></li>
                    </li><li class="on1">
                                <li><a href="{% url 'liked' %}">Liked courses</a></li>
                    </li>
                    <li class="on1">
                        <a href="" data-purpose="user_manage:edit-account">
                            Account
                    </a>
                    </li>
                    <li class="on1">
                        <a href="" data-purpose="user_manage:edit-payment-methods">
                            Payment method
                    </a>
                    </li>
                    <li class="on1">
                        <a href="" data-purpose="user_manage:edit-privacy">
                            Confidentiality
                    </a>
                    </li>
                    <li class="on1">
                        <a href="" data-purpose="user_manage:edit-notifications">
                            Notifications
                    </a>
                    </li>
                    </li>
                    <li class="on1">
                        <a href="" data-purpose="user_manage:close-account">
                            Close account
                    </a>
                    </li>
                </ul>
            </div>
        </div>
{% endblock %}