{% extends 'main/test.html' %} {% load static %} {% block header %}
<nav class="nav" style="margin: -1%">
    <span>
                <a  href="/html/"><img class="logo" src=" {% static 'main/logo.png' %} "></a>

    <ol>
        <li><a href="/python/">Catalog</a></li>
        <li><a href="/teach/">Teach</a></li>
        <li><input type="search" placeholder="Search..."></li>
        <div class="divider"></div>
        <li class="lgin"> <a id ='usr' href="/teach/login"><button>{{ username }}</button></a></li>
        <li class="reg"> <a href=""><button>Log Out</button> </a></li>
    
    </ol>
    
    </span>

</nav>

<script>
    name = document.getElementById('usr').innerText
    alert("Hello, " + name)
</script>
{% endblock %}