.main {
    padding: 40px;
}
.nav1{
    width: 300px;
}
.nav2 {
    display: flex;
    justify-content: center;
    margin-left: 300px;
    text-align: center;
}

.profile2 a {
    text-decoration: none;
    text-transform: none;
    color: black;
}

.profile2 li {
    list-style-type: none;
}

.main {
    display: flex;
}


/* .profile3 {
    display: flex; 
} */

.profile2_ul {
    padding-right: 20px;
}

.user_ {
    margin-left: 40px;
}

.in_g {
    margin-bottom: 20px;
}

.textinput {
    width: 400px;
    height: 35px;
}

.on1 {
    margin-bottom: 10px;
    font-size: 20px;
}

.btn {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font: inherit;
    font-family: inherit;
    margin: 0;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    background-image: none;
    white-space: nowrap;
    padding: 11px 12px;
    font-size: 15px;
    line-height: 1.35135;
    user-select: none;
    color: black;
    background-color: #ff6464;
    border: 1px solid transparent;
    -webkit-appearance: button;
    cursor: pointer;
}