{% load static %}
{% include 'main/header.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link rel="stylesheet" type="text/css" href="{% static 'main/about.css' %}">
</head>
<body>
<h1>{{ msg }}</h1>
<h1>About</h1>
<div class="course">
    <h2>{{ name }}</h2>
    <h2>{{ teacher }}</h2>
    <h2>{{ id }}</h2>
    <h2>{{ crsid }}</h2>
    {% if request.user.is_authenticated %}
        <a href="{% url 'addlearn' course_id=crsid %}">add to learn</a></div>
            <h2>{{ msge }}</h2>
    {% endif %}
<form method="post" action="{% url 'addcmnt' courseid=crsid%}">
        {% csrf_token %}
        <div class="comm">
        <input type="text" name="post">
        <textarea placeholder="comment here..." name="com"></textarea>
        <a><button type="submit">Add comment</button></a>
        </div>
    </form>
<p>
  <a href="{% url 'post_share' c_id=crsid %}">
    Share this post
  </a>
</p>

</body>
        <div>{% for c in comments %}

        <ul class="comment">
        {% if request.user.username == c.author or request.user.is_superuser %}
        <a style="float: right; margin-right: 2%" href="{% url 'delcom' c.pk %}">X</a>
            {% endif %}
         <div style="margin-left: 45%">

            <a style="background-color: green; width: 50px ; padding: 3px">+</a>
            <a style="background-color: red; width: 50px;padding: 3px;">--</a>
        </div>
               <h3> <a href="/user/{{ c.author }}">{{  c.author }}</a></h3>
                <h4>{{ c.post }}</h4>
                <h6>{{ c.text }}</h6>
                <small>{{ time }}</small>
            </li>

        </ul>

    {% endfor %}

    </div>

<script src="{% static 'main/js.js' %}"></script>
</html>