{% extends 'main/test.html' %} {% load static %} {% block header %}

<head>
    <script src="https://kit.fontawesome.com/d6626765ab.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="nav" style="margin: -1%">
        <span>
        <a  href="/html/"><img class="logo" src=" {% static 'main/logo.png' %} "></a>
    <ol>
        <li><a href="/">Catalog</a></li>
        {% if request.user.is_authenticated and not request.user.is_superuser %}
            <li><a href="{% url 'learn'%}">Learning</a></li>
        {% endif %}
        <li><a href="/teach/">Teach</a></li>
        <form action="{% url 'searching' %}" method="post">
            {% csrf_token %}
        <li><input type="search" placeholder="Search..." name = 'name'></li>
        </form>
        <div class="divider"></div>

        {% if request.user.is_authenticated %}
            <li class="lgin"> <a id ='' href="/account"><button>{{ request.user.username }}</button></a></li>
            <li class="reg"> <a href="{% url 'logout' %}"><button>logout</button> </a></li>
        {% else %}
            <li class="lgin"> <a href="/teach/login"><button>Log in</button></a></li>
            <li class="reg"> <a href="/teach/test"><button>Sign up</button> </a></li>
        {% endif %}
    </ol>
    </span>
    </nav>
</body>
{% endblock %}