{% extends 'main/test.html' %}
{% load static %}


{% block header %}
    <nav class="nav">
    <span>
                <a  href="/html/"><img class="logo" src=" {% static 'main/logo.png' %} "></a>

    <ol>
{#        <span>#}
        <li><a href="/python/">Catalog</a></li>
        <li><a href="/teach/">Teach</a></li>
{#        </span>#}
        <li><input type="search" placeholder="Search..."></li>
        <div class="divider"></div>
        <li class="lgin"> <button>Log In</button> </li>
        <li class="reg"> <button>Sign Up</button> </li>
    </ol>
    </span>
    </nav>

{% endblock %}