{% include 'main/header.html' %} {% load static %}


<body>
    <h1>My cources</h1>
    <div class="course">

        <!-- <h2>{{ name }}</h2> -->
        <!-- <h1>You are learning</h1> -->
        <div>{% for c in crs%}
            <ul class="comment">
                <li>
                    <h3>{{ crs_name}}</h3>
                    <h2>{{ teacher }}</h2>
                    <a href="/{{c.course_id}}" class="btn">About</a>
                    <a href="{% url 'delern' c.course_id %}">X</a>
                </li>
            </ul>
            {% endfor %}
        </div>
</body>

</html>